* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 1em 3em;
	font-family: sans-serif;
}

img {
	max-width: 100%;
}

.video-wrap {
	position: relative;
}

.slick-arrow {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #333;
	transform: translateY(-50%);
	font: 0/0 a;
	color: transparent;
}

.slick-prev {
	left: -40px;
}

.slick-prev::before {
	content: ""
	width: 10px;
	height: 10px;
	display: block;
	border: 2px solid #000;
	border-right-color: #fff;
	border-bottom-color: #fff;
	
}

.slick-next {
	right: -40px;
}